/* Import Splide css from node folder */
@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Graphik";
    font-style: normal;
    src: url("../../public/resources/fonts/GraphikRegular.otf");
}
@font-face {
    font-family: "GraphikLight";
    font-style: normal;
    src: url("../../public/resources/fonts/GraphikLight.otf");
}
@font-face {
    font-family: "GraphikMedium";
    font-style: normal;
    src: url("../../public/resources/fonts/GraphikMedium.otf");
}
@font-face {
    font-family: "GraphikSemibold";
    font-style: normal;
    src: url("../../public/resources/fonts/GraphikSemibold.otf");
}
@font-face {
    font-family: "GraphikBold";
    font-style: normal;
    src: url("../../public/resources/fonts/GraphikBold.otf");
}
@font-face {
    font-family: "Adelia";
    font-style: normal;
    src: url("../../public/resources/fonts/ADELIA.otf");
}

@layer base {
    html {
        font-family: Graphik, system-ui, sans-serif;
    }
}

@layer components {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #e8c811;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #686868;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4c4d47;
    }

    .Site-Max-Width {
        max-width: 80rem; /* 1440px */
    }
    .Min-Height-8 {
        min-height: 8rem;
    }
    .Gradient-Top-Banner {
        /* height: 151px; */
        /* opacity: 0.65; */
        background: linear-gradient(
            180deg,
            rgba(230, 230, 230, 1) 0%,
            rgba(255, 255, 255, 1) 100%
        );
    }
    .H-30pvw {
        height: calc(100vw - 70vw);
    }
    .H-40pvw {
        height: calc(100vw - 60vw);
    }
    .MaxH-18 {
        max-height: 18rem;
    }
    .MaxH-23 {
        max-height: 23rem;
    }
    .W-30pvw {
        width: calc(100vw - 70vw);
    }
    .W-40pvw {
        width: calc(100vw - 60vw);
    }
    .MaxW-18 {
        max-width: 18rem;
    }
    .MaxW-23 {
        max-width: 23rem;
    }
    .NegM-T {
        margin-top: -10%;
    }
    .Rounded-BOX-1 {
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
    }
    .Rounded-BOX-2 {
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
    }

    /* Calculate space on left of page */
    .Left-Space {
        margin-left: calc((100vw - 80rem) / 2);
        margin-left: -moz-calc((100vw - 80rem) / 2);
        margin-left: -webkit-calc((100vw - 80rem) / 2);
    }

    /* Calculate space on right of page */
    .Right-Space {
        margin-right: calc((100vw - 80rem) / 2);
        margin-right: -moz-calc((100vw - 80rem) / 2);
        margin-right: -webkit-calc((100vw - 80rem) / 2);
    }

    .Zoom-5 img {
        width: 101%;
        height: 101%;
    }
    .Borer-L-18{
        border-left: 18px solid;
    }
    .Borer-R-18{
        border-right: 18px solid;
    }
    /* Set Left-Space zero if vw is less than 80rem */
    @media (max-width: 80rem) {
        .Left-Space {
            margin-left: 0;
        }
        .Right-Space {
            margin-right: 0;
        }
    }
    /* Set NegM-T to 17% if vw less than 1700px */
    @media (max-width: 106.25rem) {
        .NegM-T {
            margin-top: -13%;
        }
    }
    /* Set NegM-T to 22% if vw less than 980px */
    @media (max-width: 61.25rem) {
        .NegM-T {
            margin-top: -25%;
        }
    }
}
